<footer>
    <p>
        <a href="https://www.flaticon.com/free-icons/forest" title="forest icons">Forest icons created by Freepik - Flaticon</a>, 
        <a href="https://www.pngall.com/green-leaves-png/download/31604/" title="leaf icons">Leaf icon provided by pngall.com</a>
    </p>
    <p>
        <a href="https://www.pexels.com/photo/green-pine-trees-near-lake-and-snow-covered-mountain-5226950/">Green Pine Trees Near Lake and Snow Covered Mountain by Samuel Bütikofer</a>,
        <a href="https://www.pexels.com/photo/green-pine-trees-1179229/">Green Pine Trees by Matthew Montrone</a>
    </p>
    <p>&copy; 2025 Mike Tam - All Rights Reserved</p>
</footer>